@model Tuple<HotelTamagotchi.Web.ViewModels.HotelRoomViewModel, List<HotelTamagotchi.Web.ViewModels.TamagotchiViewModel>>
@{
    ViewBag.Title = "Create";
}

<h2>Booking for room number:   @Model.Item1.Id</h2>
<h3>You may select:  @((int)Model.Item1.Size) tamagotchi's for this room</h3>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Create", "Booking", FormMethod.Post))
{
    <div class="row">
        @{int y = 0;
            foreach (var t in Model.Item2)
            {

                <div class="col-md-4">
                    @Html.Label(t.Name)
                    @{string id = t.Id + "";}
                    @Html.CheckBox(id)
                    @{y = y + 1;}
                </div>
            }
        }
    </div>

    <button type="submit">Book</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>